*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.2rem;
}

.Productos{
    padding: 5%;
    text-align: center;

}

.Productos article{
    width: 90%;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #E6E6FA;
}

@media screen and (min-width:600px) {
    .Productos article{
        width: 45%;
        display: inline-block;

    }

}

@media screen and (min-width: 1024px){
    width: 30%;
    


}