body {
    font-family: sans-serif;
}

.contenedor {
    width: 75%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: #006d77;
    color: white;
    padding: 10px;
}

.ejercicio {
    margin-bottom: 10px;
    background-color: beige;
    padding: 10px;
}

span {
    font-family: monospace;
}

.parrafo {
    background-color: #e29578;
    color: white;    
    padding: 10px;
}