#computercode{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: bisque;
}

#sample{
    color: chocolate;
    font-size: 20px;
    background-color: yellow;
}